In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('cluster_centroide.csv')

In [33]:
df.keys()

Index(['cluster_labels', 'categories'], dtype='object')

In [36]:
df1 = df['cluster_labels']
df1

0      12
1      12
2       0
3      31
4       9
       ..
116    71
117    13
118    73
119    55
120    55
Name: cluster_labels, Length: 121, dtype: int64

In [38]:
df2 = df['categories']
df2

0      arts entertainment
1       college education
2                   event
3                    food
4               nightlife
              ...
116          professional
117             residence
118                 shops
119                travel
120                travel
Name: categories, Length: 121, dtype: object

In [42]:
total = df['cluster_labels'].tolist()
categ = list(df['categories'])

In [44]:
type(total)

list

In [45]:
type(categ)

list

In [31]:
len(total)

121

In [46]:
len(categ)

121

In [54]:
#catg = []
tot = []
cluster = []
index = 0

df10 = pd.DataFrame(columns = ['Cluster','Categories','Total'])
for cl in range(0,12):
    for ca in range(0,10):
    # print(cl,ca)
        tot = total[index]
        cat = categ[index]
        index = index+1
        df10 = df10.append({'Cluster':cl,'Categories':cat, 'Total':tot},ignore_index=True)

In [56]:
df10.head(20)

   Cluster           Categories Total
0        0   arts entertainment    12
1        0    college education    12
2        0                event     0
3        0                 food    31
4        0            nightlife     9
5        0  outdoors recreation    37
6        0         professional    91
7        0            residence    17
8        0                shops   187
9        0               travel    23
10       1   arts entertainment    26
11       1    college education    34
12       1                event     0
13       1                 food    61
14       1            nightlife    18
15       1  outdoors recreation    56
16       1         professional    93
17       1            residence     6
18       1                shops   126
19       1               travel    27